html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* REMEMBER TO ASK ABOUT ODD POSITIONING... Have had to use overflow: hidden for now */

a {
    text-decoration: none;
}

/* BACKGROUND IMAGE */

body {
    border: 1px dotted red;
    background: url("../img/cart.jpg") no-repeat center center;
    position: relative;
    background-size: cover;
    display: inline-block;
    margin: 0px auto;
}

/* MENU BAR */

.nav {
    background-color: rgba(193, 193, 193, 0.7);
    height: 95%;
    text-align: center;
    position: relative;
    display: inline-block;
    top: 0px;
    width: 15%;
    min-width: 250px;
    border: 3px solid rgba(20, 20, 20, 0.8);
    margin: 0% 90% 0% 3%;
}

.nav img {
    margin: 12% 0%;
}

.nav li {
    font-family: 'Cinzel', Georgia, sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    letter-spacing: 3px;
    margin: 1em, 0em;
    padding-top: 8%;
    padding-bottom: 8%;
    width: 100%;
    text-transform: uppercase;
    border-top: 0.5px solid rgba(20, 20, 20, 0.4);
}

.nav li:last-child {
    border-bottom: 0.5px solid rgba(20, 20, 20, 0.4);
}

.nav li a {
    color: black;
}

.nav li a:hover {
    color: white;
}

/* SOCIAL MEDIA LINKS */

.fa {
    color: black;
    border: 1px dotted red;
    margin-top: 90px;
    font-size: 25px;
}

.fa-twitter {
    color: #00aced;
}

.fa-instagram {
    color: #833ab4;
}

.fa-twitter:hover {
    color: white;
}

.fa-instagram:hover {
    color: white;
}

/* CHARLIE */

#charlie img {
    max-width: 100%;
    height: 150px;
}

#charlie {
    background-color: white;
    border: 7px solid white;
    border-radius: 5px;
    position: absolute;
    display: inline-block;
    top: 20%;
    left: 35%;
    padding: 1%;
    max-width: 15%;
    bottom: 15%;
    text-align: center;
    word-wrap: break-word;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 3px;
    font-family: 'Cinzel', Georgia, sans-serif;
}

#charlie:after {
    content: '';
    position: relative;
    border-radius: 5px;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    background: rgba(20, 20, 20, 0.8);
    z-index: -1;
}

/* HARRY */

#harry img {
    max-width: 100%;
    height: 150px;
}

#harry {
    background-color: white;
    border: 7px solid white;
    border-radius: 5px;
    position: absolute;
    display: inline-block;
    top: 20%;
    left: 55%;
    padding: 1%;
    max-width: 15%;
    bottom: 15%;
    text-align: center;
    word-wrap: break-word;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 3px;
    font-family: 'Cinzel', Georgia, sans-serif;
}

#harry:after {
    content: '';
    position: relative;
    border-radius: 5px;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    background: rgba(20, 20, 20, 0.8);
    z-index: -1;
}

/* CALUM */

#calum img {
    max-width: 100%;
    height: 150px;;
}

#calum {
    background-color: white;
    border: 7px solid white;
    border-radius: 5px;
    position: absolute;
    display: inline-block;
    top: 20%;
    left: 75%;
    padding: 1%;
    max-width: 15%;
    bottom: 15%;
    text-align: center;
    word-wrap: break-word;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 3px;
    font-family: 'Cinzel', Georgia, sans-serif;
}

#calum:after {
    content: '';
    position: relative;
    border-radius: 5px;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    background: rgba(20, 20, 20, 0.8);
    z-index: -1;
}

